/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET CSS */

/* ---------- */

/* VARIABLE */

:root {
    --font_title: "Roboto", medium;
    --font_content: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(../typo/Roboto-Regular.ttf);
}

body {
    background-color: #161616;
}

/* HEADER */

.container_head {
    display: flex;
    background: rgb(115, 83, 186);
    background: linear-gradient(180deg, rgba(115, 83, 186, 0.8816705336426914) 0%, rgba(39, 25, 95, 0) 100%);
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px 0 50px;
}

.logo {
    width: 15%;
    position: absolute;
}

/*---------------BURGER------------------*/

.burger_menu {
    display: flex;
    flex-direction: column;
}

.bar {
    width: 50px;
    height: 7px;
    margin: 3px 0 0 3px;
    border-radius: 10px;
    background: rgb(187, 135, 255);
    background: linear-gradient(90deg, rgba(187, 135, 255, 1) 0%, rgba(187, 135, 255, 0.2721289199273459) 100%);
}

.playlist {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 10rem;
    left: 0px;
    width: 350px;
    height: 600px;
    background-color: #2F195F;
    opacity: 70%;
    border-radius: 20px;
}

.card_playlist {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 220px;
    height: 100px;
    border-radius: 15px;
    background: rgb(158, 56, 193);
    background: linear-gradient(135deg, rgba(158, 56, 193, 0.6) 0%, rgba(187, 135, 255, 0.3) 100%);
    margin: 10px 50px 10px 50px;
}

.cover_playlist {
    border-radius: 10px;
    height: 75px;
}

.text_card_playlist {
    font-family: "Roboto";
    color: #ffff;
    font-size: 1.5rem;
}

.btn_close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    color: #ffff;
    font-size: 1rem;
    background-color: #966ECD;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 20px;
    top: 20px;
}



/* ------------------BURGER------------------- */

/* ----------------COLOR SET------------------ */
.color_set_container {
    display: flex;
    align-items: center;
}

.icon_color_set {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.color_set {
    font-family: "Roboto";
    color: #BB87FF;
    font-size: 1.5rem;
    margin-right: 850px;
}

/* ----------------COLOR SET------------------ */

/* ----------------USER & SEARCH BAR------------------ */
.bar_user {
    display: flex;
    margin-left: 400px;
    align-items: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    margin-left: 10px;
    background: rgb(187, 135, 255);
    background: linear-gradient(90deg, rgba(187, 135, 255, 1) 0%, rgba(187, 135, 255, 1) 0%, rgba(187, 135, 255, 0.26932779947916663) 100%);
}

.user_icon {
    height: 25px;
    width: 25px;
}

.bar_recherche {
    width: 200px;
    height: 30px;
    border: 3px;
    border-bottom: white;
    border-radius: 30px;
    margin-right: 10px;
    font-family: "roboto";
    text-align: center;
    color: white;
    background: rgb(187, 135, 255);
    background: linear-gradient(90deg, rgba(187, 135, 255, 1) 0%, rgba(187, 135, 255, 0.2721289199273459) 100%);
}

/* ----------------USER & SEARCH BAR------------------ */

/* HEADER */

/* ---------- */

/* MAIN */


/* ----------CARD---------- */
.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    font-family: "Roboto";
    font-size: 4rem;
    color: #966ECD;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container_card {
    display: flex;
    justify-content: space-evenly;
}

.cover {
    height: 125px;
    border-radius: 10px;
}

.text_card {
    font-family: "roboto";
    color: #ffff;
    font-size: 1.5rem;
    margin-top: 10px;
}

.card_une {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    background: rgb(158, 56, 193);
    background: linear-gradient(135deg, rgba(158, 56, 193, 0.6) 0%, rgba(187, 135, 255, 0.3) 100%);
    margin: 0 50px 0 50px;
}

.card_deux {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    background: rgb(158, 56, 193);
    background: linear-gradient(135deg, rgba(158, 56, 193, 0.6) 0%, rgba(187, 135, 255, 0.3) 100%);
    margin: 0 50px 0 50px;
}

.card_trois {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    background: rgb(158, 56, 193);
    background: linear-gradient(135deg, rgba(158, 56, 193, 0.6) 0%, rgba(187, 135, 255, 0.3) 100%);
    margin: 0 50px 0 50px;
}

.card_quatre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    background: rgb(158, 56, 193);
    background: linear-gradient(135deg, rgba(158, 56, 193, 0.6) 0%, rgba(187, 135, 255, 0.3) 100%);
    margin: 0 50px 0 50px;
}

/* ----------CARD---------- */

/* ----------CARD TITRE---------- */
.card_titre {
    width: 274px;
    height: 60px;
    background: rgb(158, 56, 193);
    background: linear-gradient(0deg, rgba(158, 56, 193, 0) 0%, rgba(187, 135, 255, 1) 100%);
    margin: 10px 50px 10px 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-position: top;
}

.cover2 {
    height: 45px;
    border-radius: 4px;
    position: relative;
    margin-left: 8px;
    margin-right: 10px;
}

.cover3 {
    height: 20px;
    margin-right: 5px;
}

.texte_card_titre {
    font-family: "roboto";
    font-size: 1rem;
    color: #ddd9e3;
}

/* ----------CARD TITRE---------- */


/* ----------FOOTER---------- */

footer {
    display: flex;
    flex-direction: column;
}

.container_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
    background-position: bottom;
    height: 250px;
    background: rgb(187, 135, 255);
    background: linear-gradient(0deg, rgba(187, 135, 255, 1) 30%, rgba(47, 25, 95, 1) 70%, rgba(22, 22, 22, 1) 100%);
    padding: 0 50px 0 50px;
}

.cover_footer {
    height: 100px;
    border-radius: 5px;
}

.playeur_footer {
    height: 30px;
}

.playeur_footer_2 {
    height: 30px;
}

.repeat {
    height: 30px;

}

.pause {
    height: 25px;
    width: 8px;
    background-color: #bcbcbc;
    border-radius: 5px;
    margin: 2px;
}

.btn_pause {
    display: flex;
}

.playeur_footer_revers {
    rotate: 180deg;
    height: 30px;
}


input[name="time"] {
    accent-color: #bcbcbc;
    width: 400px;
}

input[name="vol"] {
    accent-color: #bcbcbc;
    width: 100px;

}

.titre_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre_text_footer {
    font-family: 'roboto';
    font-size: 1.2rem;
    color: #bcbcbc;
}

.text_footer {
    font-family: 'roboto';
    font-size: 1.2rem;
    color: #bcbcbc;
}

.time_text_footer {
    font-family: 'roboto';
    font-size: 1.2rem;
    color: #bcbcbc;
}